.App {
    text-align: center;
}

.rowC {
    display: flex;
    flex-direction: row;
}

.left {
    border-style: double;
    width: 70%;
    height: 80vh;
    background: salmon;
    display: inline-block;
}

.right {
    border-style: double;
    width: 29.35%;
    height: 80vh;
    background: greenyellow;
    display: inline-block;
}